### DB 연동 연습문제
- (1) DB 연결
- (2) product 테이블에서 전체 상품 정보 출력
- (3) 상품가격이 1,000,000원 이상인 상품만 출력
- (4) 새로운 상품 등록 (입력 받아서)
- (5) 상품번호가 10인 상품의 가격을 1,000,000원으로 수정
- (6) 상품번호가 15인 상품 삭제 (상품번호 입력 받아서)

In [1]:
import pymysql

In [11]:
# 1. DB 연결 
# 호스트명, 포트번호, 로그인 계정, 비밀번호, CHARSET 파라미터로 지정 
conn = pymysql.connect(host='localhost', 
                       port=3306, 
                       user='root', 
                       passwd='1234',
                       charset='utf8')
# 연결 객체 반환

In [12]:
# 2. cursor 객체 생성 
# cursor 객체를 통해서 메소드 호출 
cursor = conn.cursor()

In [13]:
sql = 'use sqldb4'
cursor.execute(sql)

0

In [6]:
# (2) product 테이블에서 전체 상품 정보 출력
sql = 'select * from product'
cursor.execute(sql)
result = cursor.fetchall()
result

(('1', '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 ('10', 'HP 게이밍 노트북', 1200000, 'HP', '흰색', 2),
 ('11', '32인치 LED 모니터', 299000, 'LG전자', '검정', 2),
 ('12', '광시야각 LED 모니터', 195000, '삼성전자', '흰색', 2),
 ('13', '등산배낭 옵티마', 68000, '밀레', '자주', 4),
 ('14', '35L 등산배낭', 49000, '(주)셀파', '노랑', 4),
 ('15', '원터치 자동 텐트', 58000, '이지트래블러', '그린', 4),
 ('2', 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 ('3', 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 ('4', '올레드 TV 55', 799000, 'LG전자', '검정', 1),
 ('5', 'UHD TV', 2250000, '삼성전자', '은색', 1),
 ('6', '유아용 세발 자전거', 76000, '삼천리 자전거', '빨강', 3),
 ('7', '로드 사이클 자전거', 150000, '알톤', '검정', 3),
 ('8', '여성용 클래식 자전거', 100000, '알톤', '핑크', 3),
 ('9', '노트북9 metal', 1390000, '도시바', '은색', 2))

In [7]:
# (3) 상품가격이 1,000,000원 이상인 상품만 출력
sql = 'select * from product where prdPrice >=1000000'

cursor.execute(sql)
result = cursor.fetchall()
result

(('1', '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 ('10', 'HP 게이밍 노트북', 1200000, 'HP', '흰색', 2),
 ('2', 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 ('3', 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 ('5', 'UHD TV', 2250000, '삼성전자', '은색', 1),
 ('9', '노트북9 metal', 1390000, '도시바', '은색', 2))

In [8]:
# (4) 새로운 상품 등록 (입력 받아서)
prdNo = input('상품번호 입력 : ')
prdName = input('상품이름 입력 : ')
prdPrice = input('상품가격 입력 : ')
prdMaker = input('상품회사 입력 : ')
prdColor = input('상품색상 입력 : ')
ctgNo = input('카테고리 번호 입력 : ')

상품번호 입력 :  18
상품이름 입력 :  생수병
상품가격 입력 :  10000
상품회사 입력 :  엄준식주식회사
상품색상 입력 :  검정
카테고리 번호 입력 :  1

In [9]:
sql = "insert into product values(%s, %s, %s, %s, %s, %s)" 
values = (prdNo, prdName, prdPrice, prdMaker, prdColor, ctgNo) 
cursor.execute(sql, values) # 값도 같이 전달
conn.commit()

In [ ]:
# (5) 상품번호가 10인 상품의 가격을 1,000,000원으로 수정

In [15]:
sql = "UPDATE product SET prdPrice=1000000 WHERE prdNo=10"

cursor.execute(sql) # 값도 같이 전달
conn.commit()

In [ ]:
# (6) 상품번호가 15인 상품 삭제 (상품번호 입력 받아서)

In [16]:
prdNo = input('삭제할 상품번호 15 입력 : ')

삭제할 상품번호 15 입력 :  15

In [17]:
sql = "DELETE FROM product WHERE prdNo=%s"

values = (prdNo) # 실제 전달될 값
cursor.execute(sql, values) # 값도 같이 전달
conn.commit()