In [1]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

#### 연습문제 1
- 붓꽃(iris) 데이터에서 붓꽃 종(species)별로 꽃잎길이(sepal_length), 꽃잎폭(sepal_width) 등의 평균 구하기

In [3]:
# 붓꽃(iris) 데이터 로드
import seaborn as sns
iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
# 붓꽃 종 별로 그룹핑
i_g = iris.groupby(iris.species)

In [6]:
# 그룹핑된 위 객체를 이용해 각 품종 별 꽃잎길이의 평균을 구하시오
i_g['sepal_length'].mean()

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

In [7]:
# 그룹핑된 groups 객체를 이용하여 각 품종별 꽃받침 길이의 평균을 구하시오
i_g['petal_length'].mean()

species
setosa        1.462
versicolor    4.260
virginica     5.552
Name: petal_length, dtype: float64

#### 연습문제 2
- tips 데이터셋 사용하여 total_bill 
- 대비 팁의 비율이 요일과 점심/저녁 여부, 인원수에 어떤 영향을 받는지 확인
- 어떤 요인이 가장 크게 작용하는지 확인

In [9]:
# tips 데이터셋 로드
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
# (1) total_bill 대비 팁 요금의 비율을 계산하고 가공필드 tip_pct 열에 저장
tips['tips_pct'] = tips['tip'] / tips['total_bill']
tips.head()

   total_bill   tip     sex smoker  day    time  size  tips_pct
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808

In [11]:
# (2) 각 요일별 손님의 수를 확인
tips.groupby('day', observed=True).size()

day
Thur    62
Fri     19
Sat     87
Sun     76
dtype: int64

In [13]:
# (3) 각 요일별 한테이블당 인원수의 평균 확인
tips.groupby('day', observed=True)['size'].mean()

day
Thur    2.451613
Fri     2.105263
Sat     2.517241
Sun     2.842105
Name: size, dtype: float64

In [14]:
# (4) 점심/저녁 손님의 수 확인 
tips.groupby('time', observed=True)['size'].sum()

time
Lunch     164
Dinner    463
Name: size, dtype: int64

In [15]:
# (5) 점심 저녁 별로 테이블당 인원수 평균 구하기
tips.groupby('time', observed=True)['size'].mean()

time
Lunch     2.411765
Dinner    2.630682
Name: size, dtype: float64

In [17]:
# (6) 각 요일별 점심/저녁 손님의 수를 피봇 테이블로 출력
tips.pivot_table(index='time',
                 columns='day',
                 values='size',
                 aggfunc='sum')

day     Thur  Fri  Sat  Sun
time
Lunch    150   14    0    0
Dinner     2   26  219  216

In [18]:
# (7) 각 요일별 테이블당 인원수의 평균과 최대인원 최소인원을 피봇테이블로 출력
tips.pivot_table(index='day',
                 values='size',
                 aggfunc=['mean', 'max', 'min'])

          mean  max  min
          size size size
day
Thur  2.451613    6    1
Fri   2.105263    4    1
Sat   2.517241    5    1
Sun   2.842105    6    2

In [19]:
# (8) 각 요일별 시간대별(Dinner/Lunch) 테이블당 인원수의 평균과 최대인원 최소인원을 피봇테이블로 출력
# index : day, time
tips.pivot_table(index=['day', 'time'],
                 values='size',
                 aggfunc=['mean', 'max', 'min'])

                 mean  max  min
                 size size size
day  time
Thur Lunch   2.459016  6.0  1.0
     Dinner  2.000000  2.0  2.0
Fri  Lunch   2.000000  3.0  1.0
     Dinner  2.166667  4.0  2.0
Sat  Dinner  2.517241  5.0  1.0
Sun  Dinner  2.842105  6.0  2.0

In [20]:
# (9) 각 요일별/시간대별(Dinner/Lunch) 테이블당 인원수의 평균과 최대인원 최소인원을 피봇테이블로 출력
# 결측치는 0으로 채움
tips.pivot_table(index=['day', 'time'],
                 values='size',
                 aggfunc=['mean', 'max', 'min']).fillna(0)

                 mean  max  min
                 size size size
day  time
Thur Lunch   2.459016  6.0  1.0
     Dinner  2.000000  2.0  2.0
Fri  Lunch   2.000000  3.0  1.0
     Dinner  2.166667  4.0  2.0
Sat  Dinner  2.517241  5.0  1.0
Sun  Dinner  2.842105  6.0  2.0

In [21]:
# (10) 각 요일별 tip_pct의 평균 구하기
tips.groupby('day', observed=True)['tips_pct'].mean()

day
Thur    0.161276
Fri     0.169913
Sat     0.153152
Sun     0.166897
Name: tips_pct, dtype: float64

In [22]:
# (11) 시간대별 tip_pct의 평균 구하기
tips.groupby('time', observed=True)['tips_pct'].mean()

time
Lunch     0.164128
Dinner    0.159518
Name: tips_pct, dtype: float64

In [23]:
# (12) 각 요일에 따른 time별 tip_pct의 평균 구하기
tips.groupby(['day', 'time'], observed=True)['tips_pct'].mean()

day   time
Thur  Lunch     0.161301
      Dinner    0.159744
Fri   Lunch     0.188765
      Dinner    0.158916
Sat   Dinner    0.153152
Sun   Dinner    0.166897
Name: tips_pct, dtype: float64

In [25]:
# (13) 각 요일별로 시간대 평균인원수와 팁비율의 평균 구하기
tips.groupby(['day', 'time'], observed=True).agg({'size': 'mean', 'tips_pct': 'mean'})

                 size  tips_pct
day  time
Thur Lunch   2.459016  0.161301
     Dinner  2.000000  0.159744
Fri  Lunch   2.000000  0.188765
     Dinner  2.166667  0.158916
Sat  Dinner  2.517241  0.153152
Sun  Dinner  2.842105  0.166897