### 크롤링 연습문제

#### 문제 1
- 네이버 금융 페이지에서 유가/환율/국제금 시세/국내금 시세 추출  
- url = 'https://finance.naver.com'

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"
from urllib.request import urlopen
import bs4
import pandas as pd
import requests

In [2]:
url = 'https://finance.naver.com'
html = urlopen(url)
# 파서 객체 생성
bs_obj = bs4.BeautifulSoup(html, 'html.parser')

In [19]:
oil_price = bs_obj.findAll('div', {'class':'group1'})[1].findAll('td')[2].text
USD = bs_obj.findAll('div', {'class':'group1'})[0].findAll('td')[0].text
INT_GOLD = bs_obj.findAll('div', {'class':'group2'})[1].findAll('td')[0].text
OUR_GOLD = bs_obj.findAll('div', {'class':'group2'})[1].findAll('td')[2].text

print(f'유가 : {oil_price}')
print(f'USD : {USD}')
print(f'국제금 : {INT_GOLD}')
print(f'국내금 : {OUR_GOLD}')

유가 : 88.52
USD : 1,328.20
국제금 : 1,932.50
국내금 : 81,545.80

In [ ]:
# 유가 :  88.84
# USD :  1,328.00
# 국제금 :  1,935.10
# 국내금 :  81,781.70

#### 문제 2
- 네이버 증권 페이지에서 상한가 / 하한가 / 시가총액상위 기업 추출
- url = "http://finance.naver.com/sise/"

In [69]:
url = "http://finance.naver.com/sise/"
html = urlopen(url)
bs_obj = bs4.BeautifulSoup(html, 'html.parser')

In [70]:
table = bs_obj.findAll('table', {'class' : 'type_2'})
name = []
price = []
for i in range(0,len(table[0].findAll('tr'))):
    if (len(table[0].findAll('tr')[i].findAll('td')) == 11):
        td = table[0].findAll('tr')[i].findAll('td')
        name.append(td[3].text)
        price.append(td[4].text)
print("------------상한가------------")
for i in range(len(name)):
    print(f"{i+1} {name[i]} : {price[i]}")

------------상한가------------
1 피씨엘 : 3,980
2 엘에이티 : 8,030
3 윌링스 : 11,960
4 엔젠바이오 : 8,760

In [ ]:
# ---------- 상한가 ----------
# 1 노루홀딩스우 = 48,900
# 2 이원컴포텍 = 4,120
# 3 에이스테크 = 2,425
# 4 노루페인트우 = 25,450
# 5 머큐리 = 8,370
# 6 애드바이오텍 = 4,910
# 7 썬테크 = 5,180
# 8 엔에스컴퍼니 = 4,845

In [72]:
table = bs_obj.findAll('table', {'class' : 'type_2'})
name = []
price = []
for i in range(0,len(table[1].findAll('tr'))):
    if (len(table[1].findAll('tr')[i].findAll('td')) == 11):
        td = table[1].findAll('tr')[i].findAll('td')
        name.append(td[3].text)
        price.append(td[4].text)
print("------------하한가------------")
for i in range(len(name)):
    print(f"{i+1} {name[i]} : {price[i]}")

------------하한가------------
1 대유에이텍 : 355
2 골프존데카 : 1,180
3 진코스텍 : 3,400
4 바스칸바이오제약 : 6,800

In [ ]:

# ----------- 하한가 -----------
# 1 테크엔 = 289

In [71]:
table = bs_obj.findAll('table', {'class' : 'type_2'})
name = []
price = []
for i in range(0,len(table[7].findAll('tr'))):
    if (len(table[7].findAll('tr')[i].findAll('td')) == 9):
        td = table[7].findAll('tr')[i].findAll('td')
        name.append(td[1].text)
        price.append(td[2].text)
print("------------시가총액상위------------")
for i in range(len(name)):
    print(f"{i+1} {name[i]} : {price[i]}")

------------시가총액상위------------
1 삼성전자 : 71,500
2 LG에너지솔루션 : 503,000
3 SK하이닉스 : 121,800
4 삼성바이오로직스 : 729,000
5 삼성전자우 : 57,400
6 POSCO홀딩스 : 548,000
7 현대차 : 190,300
8 삼성SDI : 576,000
9 LG화학 : 546,000
10 NAVER : 225,000

In [ ]:

# ----------- 시가총액 상위 -----------
# 1 삼성전자 = 70,900
# 2 LG에너지솔루션 = 494,500
# 3 SK하이닉스 = 118,500
# 4 삼성바이오로직스 = 723,000
# 5 삼성전자우 = 57,500
# 6 POSCO홀딩스 = 529,000
# 7 현대차 = 189,800
# 8 삼성SDI = 558,000
# 9 LG화학 = 540,000
# 10 NAVER = 222,000